/ - content_for :header do
%header
  = image_tag "http://placehold.it/400x200"

  .content
    %h1= link_to "Mike & Carolyn", "/"

    %nav
      %ul
        %li= link_to "Ceremony & Accommodations", "ceremony.html"
        %li= link_to "About us", "about-us.html"
        %li= link_to "Registered", "registered.html"
    