/ - content_for :header do
%header
  = image_tag "us.jpg"

  .content
    %h1= "Mike & Carolyn"
    /
      %nav
        %ul
          %li= link_to "Ceremony & Accommodations", "ceremony.html"
          %li= link_to "About us", "about-us.html"
          %li= link_to "Registered", "registered.html"
    