!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %title Mike &amp; Carolyn - 10/15/2011
    = stylesheet_link_tag "site.css"
    = yield_content :head
    /
      ,--.    ,--.                           ,-----.,--.                           ,------. ,--.                
      |  |    |  | ,---.,--.  ,--.,---.     '  .--./|  ,---. ,--.,--.,--,--,--.    |  .--. '|  | ,--,--.,--.--. 
      |  |    |  || .-. |\  `'  /| .-. :    |  |    |  .-.  ||  ||  ||        |    |  '--' ||  |' ,-.  ||  .--' 
      |  |    |  |' '-' ' \    / \   --.    '  '--'\|  | |  |'  ''  '|  |  |  |    |  | --' |  |\ '-'  ||  |    
      `--'    `--' `---'   `--'   `----'     `-----'`--' `--' `----' `--`--`--'    `--'     `--' `--`--'`--'
    /[if lte IE 8]
      %script{ :src => "javascripts/html5.js" }
    

  
  %body{ :class => page_classes }
    #container
      %header
        = image_tag "us.jpg", :width => 950, :height => 226, :alt => "Mike and Carolyn smooching in the slums"
        %h1 Mike & Carolyn
        %time 10/15/2011
        
      = render :places
      = render :people
      = render :registered      
        
    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" }
    %script{ :src => "javascripts/app.js" }
    
