!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %title Mike &amp; Carolyn
    = stylesheet_link_tag "site.css"
    = yield_content :head
    
  %body{ :class => page_classes }
    #container
      %header
        = image_tag "us.jpg"
        %h1 Mike & Carolyn
        %time 10/15/2011
          
      #main{ :role => "main" }
        
      = render :places
      = render :people
      = render :registered
              
        
        
    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" }
    %script{ :src => "javascripts/app.js" }
    