%section.people
  / %h2 People
  %ul.links
    %li
      %a{:href => '#alli'}= image_tag "alli.png"
    %li
      %a{:href => '#amanda'}= image_tag "face"
    %li
      %a{:href => '#christine'}= image_tag 'face'
    %li
      %a{:href => '#kathryn'}= image_tag 'kathryn.jpg'
    %li.last
      %a{:href => '#kristina'}= image_tag 'kristina.jpg'

    %li
      %a{:href => '#jeff'}= image_tag "face"
    %li
      %a{:href => '#steve'}= image_tag "face"
    %li
      %a{:href => '#justin'}= image_tag "justin.jpg"
    %li
      %a{:href => '#reed'}= image_tag "face"
    %li.last
      %a{:href => '#steve'}= image_tag "face"
  
  %ul.content
    %li#alli.active
      %h3 Alli Euson <i>Maid of honor</i>
      %p
        I am Carolyn's younger (and only) 23 year-old sister. I also graduated from the U of MN, and currently live in Austin, TX
        working for General Mills. My best memories with Carolyn include our bike rides, trips to Spain and Mexico, homemade
        dinners, beer tastings, and just hanging out with Lily and the family on Sundays.

    %li#kristina
      %h3 Kristina Redgrave
      %p
        Kristina and I have known each other for almost 20 years. We first met when we were both living in Kentucky and were
        reunited at the skating rink in Minnesota -- we have been friends ever since! We have spent hours together forming our own
        nonprofit, going on adventures, cooking and eating new recipes, and as children reenacting American Girl Doll plays.      
        
    %li#kathryn
      %h3 Kathryn Scharton
      %p
        Kathryn and Carolyn first met almost 15 years ago in 7th grade while taking downhill skiing lessons. At the time, Kathryn
        loved Carolyn's silliness and confidence and they became fast friends! Since then, they have grown even closer with many
        sleep overs, cooking lessons, ladies' nights, and travels punctuating their friendship. Kathryn can't wait for Carolyn and
        Mike's big day!

    %li#christine
      %h3 Christine Duquette
      %p
        It would be impossible to sum up my relationship with Carolyn into 3 sentences but I will try. I really got to know
        Carolyn when we were both boy magnets in the same ski club during middle school.  Since then I lived with CC for three years
        after college and became even closer. Even though I currently live in Philadelphia I know we will be close friends for
        life. I feel so fortunate to be a part of Mike and Carolyn's big day.
        
    %li#amanda
      %h3 Amanda Stoermer
      %p
        
      
    %li#jeff
      %h3 Jeff Frawley, Best Man
      %p
        

    %li#reed
      %h3 Reed Putnam
      %p
        

    %li#drew
      %h3 Drew Smith
      %p
        

    %li#justin
      %h3 Justin Chase
      %p
        I originally met Mike through mutual friends during his time at the UofM. Mike and I both share a love of computers, games
        and beer and we have spent many occasions enjoying all 3. I am not originally from Minnesota but I have been living here
        for 16 years and when I first moved from Duluth to the Twin Cities, along with my wife Brittney, Mike was among some of
        the first friends I made. Mike and Carolyn both came to our wedding a couple of years ago and I'm glad to now be going to
        theirs as well. I hope to see Mike at some beer festivals, paintball fields and the zombie pub crawl this year!
         

    %li#steve
      %h3 Steve Duquette
      %p
        
        