%section.people

  %h2 About Us
  %p
    We’ve known each other since middle school but it all started with holding hands
    at Cheapskate Rollergarden at a 9th grade birthday party - Carolyn formed a crush but Mike needed a little more time. Fast
    forward to a college house party sophomore year when we rekindled the original sparks from our former roller skating days,
    and the rest is history. We are so excited to celebrate our marriage with all of our Friends and Family. See you in October!
  
  %h2 Wedding Party
  %ul.links
    %li.active
      %a{:href => '#alli'}= image_tag "alli.png"
    %li
      %a{:href => '#christine'}= image_tag 'christine.jpg'
    %li
      %a{:href => '#kathryn'}= image_tag 'kathryn.jpg'
    %li
      %a{:href => '#kristina'}= image_tag 'kristina.jpg'
    %li.last
      %a{:href => '#amanda'}= image_tag "amanda.jpg"


    %li
      %a{:href => '#jeff'}= image_tag "bro.jpg"
    %li
      %a{:href => '#steve'}= image_tag "steve.jpg"
    %li
      %a{:href => '#drew'}= image_tag "drew.jpg"
    %li
      %a{:href => '#reed'}= image_tag "reed.jpg"
    %li.last
      %a{:href => '#justin'}= image_tag "justin.jpg"
  
  %ul.content
    %li#alli.active
      %h3 Alli Euson, <em>Maid of honor</em>
      %p
      My first memories with Carolyn involve a lot of bullying. Soon after I was born, Carolyn requested that we get rid of me.
      Unfortunately that didn’t work for her, but it didn’t take long for the tables to turn 12 years later when my best friend
      Alex and I often locked Carolyn in the closet. After a few more battles in high school, Carolyn soon became my steady
      ground and a person I can’t imagine living without. Whether it’s venting after a stressful day, biking on the Greenway,
      attending her Cooking 101 class, traveling around Spain, or a Friday night happy hour tour, I love to be with Carolyn. I
      will miss her as I move off to Austin, TX, but know that we have a lifetime of fun ahead of us.



    %li#kristina
      %h3 Kristina Redgrave
      %p
        Carolyn and I have known each other for almost 20 years. We first met when we were both living in Kentucky and were reunited
        at the skating rink in Minnesota -- we have been friends ever since! We have spent hours together forming our own nonprofit,
        going on adventures, cooking and eating new recipes, and as children reenacting American Girl Doll plays.
      
    %li#kathryn
      %h3 Kathryn Scharton
      %p
        Carolyn and I first met almost 15 years ago in 7th grade while taking downhill skiing lessons. At the time, I
        loved Carolyn's silliness and confidence and we became fast friends! Since then, we have grown even closer with many
        sleep overs, cooking lessons, ladies' nights, and travels punctuating our friendship. I can't wait for Carolyn and
        Mike's big day!

    %li#christine
      %h3 Christine Duquette
      %p
        It would be impossible to sum up my relationship with Carolyn into 3 sentences but I will try. I really got to know
        Carolyn when we were both boy magnets in the same ski club during middle school.  Since then I lived with CC for three years
        after college and became even closer. Even though I currently live in Philadelphia I know we will be close friends for
        life. I feel so fortunate to be a part of Mike and Carolyn's big day.
        
    %li#amanda
      %h3 Amanda Stoermer
      %p
        I first met Eus, 8 years ago, on the first day of our freshman year at DePauw University. Our rooms were directly next to
        each other and we had so much fun together that we decided to be roommates our sophomore year. Some of my favorite
        memories with Carolyn include learning to navigate frat parties together, her AXΩ initiation, random dance parties in our
        room, her visiting me in Spain and my visits to see her in MN. I loved witnessing the very beginning of Carolyn & Mike’s
        relationship when they would write to each other long distance and now I can’t wait to be there as they exchange their
        wedding vows!
        
        
      
    %li#jeff
      %h3 Jeff Frawley, <em>Best Man</em>
      %p
        I'm honored to say that I've known Mike the longest, back to when we were kids studying Mortal Kombat moves in a backyard
        tent and filming homemade movies using mannequins with exploding balloon heads. I'm happy to report that my brother's
        still just as weird and imaginative now as he was back then--plus now he has the most trustworthy beer recommendations. I
        currently live in Budapest, Hungary, and although he and I have lived in different places in recent years, I'm always so
        excited to see how awesome of a life he leads in Minnesota. In recent years we've enjoyed trips to Korea and New Zealand
        together, as well as great times at the cabin. I can't wait to be a part of his and Carolyn's wedding.
        

    %li#reed
      %h3 Reed Putnam
      %p
        Let me first start off by saying how much I adore Mike and Carolyn. They are great human beings and I am lucky to call
        them my friends. I first met Mike during 7th grade summer. We both had won trips to space camp down in Texas. Mike and I
        were paired up in a flight simulator machine and the rest is history!
      
        

    %li#drew
      %h3 Drew Smith
      %p
        

    %li#justin
      %h3 Justin Chase
      %p
        I originally met Mike through mutual friends during his time at the UofM. Mike and I both share a love of computers, games
        and beer and we have spent many occasions enjoying all 3. I am not originally from Minnesota but I have been living here
        for 16 years and when I first moved from Duluth to the Twin Cities, along with my wife Brittney, Mike was among some of
        the first friends I made. Mike and Carolyn both came to our wedding a couple of years ago and I'm glad to now be going to
        theirs as well. I hope to see Mike at some beer festivals, paintball fields and the zombie pub crawl this year!
         

    %li#steve
      %h3 Steve Duquette
      %p 
        I met Mike in 6th grade. We've been great friends ever since. Did a lot of goofy things as kids, from German club and
        starting our own band (HAT) to having an awesome time up north on the lake. Mike and Carolyn have been amazing friends to
        me and my (new) wife Christine and I'm certain they will be for many years to come!
        
        